.method-payment {
  width: 40%;
  height: 70vh;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.breadcrumb {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none; 
}

.breadcrumb:hover {
  text-decoration: underline;
}


.breadcrumb.current {
  cursor: default;
}

.breadcrumb.current:hover {
  text-decoration: none;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.countdown {
  margin-bottom: 20px;
}

.green {
  color: green;
  font-weight: bold;
}

.payment-option {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.payment-option.selected {
  border-color: black;
  font-weight: bold;
}

.checkmark {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.confirm-button {
  margin-top: 30px;
  padding: 12px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
