<div class="container">
  <div class="content1">
    <div class="left-content1">
    <h1>Trải nghiệm ứng dụng crypto toàn diện tại Việt Nam</h1>
    <div class="input-group">
      <input type="email" placeholder="Địa chỉ email" />
      <button>Dùng thử OKX</button>
    </div>
    <div class="sponsors">
      <img src="logo3.png" alt="" />
      <img src="logo2.png" alt="" />
      <img src="logo1.png" alt="" />
    </div>
  </div>

  <div class="phone-image">
    <img src="phone.png" alt="" />
  </div>

  </div>

  <div class="content2">
    <h1>Trade like a pro</h1>
    <p>Get the lowest fees, fastest transations, powerful APIs, and more</p>
    <div class="trade-image">
      <img src="trade.png" alt="" />
    </div>
  </div>

  <div class="content3">
    <h1>With you every step of the way</h1>
    <p>From making your first crypto trade to becoming a seasoned trader, you'll have us to guide you through the process. No question is too small. No sleepless nights. Have confidence in your crypto.</p>
    <div class="evolution-image">
      <img src="evolution.png" alt="" />
    </div>
  </div>

</div>