<!-- Trạng thái trước khi thêm -->
<app-nav-tabs [tabs]="marketTabs"></app-nav-tabs>

<!-- CHỌN COIN -->
<div *ngIf="!showFavorites">
  <h3 class="center-title">Chọn tiền mã hóa</h3>

  <div class="coin-container">
    <div class="coin-grid">
      <div class="coin-card" *ngFor="let coin of allCoins" [class.selected]="isSelected(coin.symbol)"
           (click)="toggleSelection(coin.symbol)">
        <img [src]="coin.icon" class="coin-icon" />
        <div class="coin-info">
          <strong>{{ coin.symbol }}</strong>
          <small>{{ coin.name }}</small>
        </div>
        <div class="check-icon" *ngIf="isSelected(coin.symbol)">✔️</div>
      </div>
    </div>
  </div>

  <button class="add-button" (click)="addToFavorites()">Thêm vào mục Yêu thích</button>
</div>


<!-- DANH SÁCH YÊU THÍCH -->
<div *ngIf="showFavorites">
  <!-- <h3>Danh sách Yêu thích</h3> -->
  <table class="favorite-table">
    <thead>
      <tr>
        <th>Tên</th>
        <th>Giá</th>
        <th>Thay đổi</th>
        <th>Thấp nhất 24h</th>
        <th>Cao nhất 24h</th>
        <th>Khối lượng 24h</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coin of favorites" (click)="gotoChart(coin.symbol)">
        <td >
          <span style="cursor: pointer;" (click)="removeFromFavorites(coin.symbol)">⭐</span>
          <img [src]="coin.icon" width="20" style="margin: 0 8px;" />
          {{ coin.symbol }}
        </td>
        <td>{{ coin.price | number:'1.2-2' }}</td>
        <td [ngStyle]="{ color: coin.change >= 0 ? 'green' : 'red' }">
          {{ coin.change >= 0 ? '+' : '' }}{{ coin.change }}%
        </td>
        <td>{{ coin.low24h }}</td>
        <td>{{ coin.high24h }}</td>
        <td>
          {{ coin.volumeCoin }}<br />
          {{ coin.volumeUSD }}
        </td>
        <td>
          <a href="#">Biểu đồ</a> | <a href="#">Giao dịch</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
