.ads-selection {
  width: 70%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  height: 90vh;
    display: flex;

    flex-direction: column;
}

.navigation {
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}

.breadcrumb {
  color: #555;
  cursor: pointer;
}

.breadcrumb:hover {
  text-decoration: underline;
}

.breadcrumb.current {
  cursor: default;
}

.breadcrumb.current:hover {
  text-decoration: none;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

.countdown {
  margin: 10px 0 20px;
}

.green {
  color: green;
  font-weight: bold;
}

.ads-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ads-list {
  display: flex;
  width: 50%;
    flex-direction: column;
}

.ad-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.ad-card.selected {
  border-color: black;
  font-weight: bold;
}

.badge {
  background-color: #c4f000;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 8px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.name {
  font-weight: 500;
}

.info {
  font-size: 13px;
  color: #555;
}

.checkmark {
  position: absolute;
  top: 16px;
  right: 20px;
  font-weight: bold;
}

.preview {
    display: flex;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 16px;
  font-size: 14px;
  width: 35%;
  height: 40%;
  flex-direction: column;

}

.preview h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.preview p {
  display: flex;
  justify-content: space-between;
}

.preview .label {
  color: #555;
}

.preview .value {
  font-weight: bold;
}

.preview .value.bank {
  color: #0066cc;
}

.more-options {
  text-align: center;
  font-size: 14px;
  text-decoration: underline;
  margin: 24px 0;
  cursor: pointer;
}

.confirm-button {
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 999px;
  cursor: pointer;
}
