<app-nav-tabs [tabs]="earnTabs"></app-nav-tabs>
<div class="earn-container">
  <div class="earn-header-illustration">
    <div class="earn-header">
      <h2>Để crypto sinh lời</h2>
      <p>Kiếm thưởng hàng ngày trên hơn 100 token bao gồm USDT, USDC và ETH.</p>
    </div>
    <div class="earn-illustration">
      <img src="https://www.okx.com/cdn/assets/imgs/245/71343D1D582D1F61.png?x-oss-process=image/format,webp/ignore-error,1" alt="Earn Illustration">
    </div>
  </div>
  <br>
  <div class="earn-content">
    <div class="earn-box">
      <div class="earn-illustration-left">
        <img src="usdt-illustration.png" alt="USDT Illustration">
      </div>
      <div class="earn-details-right">
        <div class="earn-token">
          <img src="usdt.png" alt="USDT" class="token-icon">
          <span>USDT</span>
          <span class="product-type">Simple Earn Cố định</span>
        </div>
        <div class="earn-apr">APR cho vay <span class="apr-value">4.00%</span></div>
        <p>Cho vay crypto của bạn để nhận thêm lợi nhuận trên nền tảng có độ tin cậy cao.</p>
        <button class="lend-button">Cho vay ngay</button>
      </div>
    </div>
  </div>
  <div class="portfolio">
    <h3>Sản phẩm</h3>
    <div class="filter-section">
      <select name="tenure" id="tenure" class="sort-box tenure-sort">
        <option value="all">Tất cả</option>
        <option value="flexible">Linh hoạt</option>
        <option value="fixed">Cố định</option>
      </select>
      <select name="sort" id="sort" class="sort-box name-sort">
        <option value="a-z">Tên A-Z</option>
        <option value="z-a">Tên Z-A</option>
        <option value="hot">Thứ tự Hot</option>
      </select>
      <input type="text" placeholder="Tìm kiếm tên hoặc mã" class="search-box">
    </div>
    <table>
      <thead>
        <tr>
          <th>Token</th>
          <th>APR trung bình</th>
          <th>Thời hạn</th>
          <th>Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td><img [src]="product.icon" alt="{{product.name}}"> {{product.name}}</td>
          <td>{{product.apr}}%</td>
          <td>{{product.tenure}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button>Xem thêm</button>
  </div>
  <div class="faq-section">
    <h3>Câu hỏi thường gặp</h3>
    <div class="faq-item" *ngFor="let faq of faqs; let i = index" (click)="toggleFaq(i)">
      <div class="faq-question">
        <p>{{ faq.question }}</p>
        <span class="faq-arrow">{{ faq.isOpen ? '▲' : '▼' }}</span>
      </div>
      <div class="faq-answer" *ngIf="faq.isOpen">
        {{ faq.answer }}
      </div>
    </div>
  </div>
</div>